@import "../../../eva/css/bootstrap.less";
@import "../../../eva/css/src/type/wiki.less";
@linkColor : #0099FF;
@golden : #AC9217;



a {
	color:@golden;
}

body {
	color:#333;
	font-size:12px;
	font-family:@fontFamily;
}

.container {
	max-width:1210px;
}

#header {
	background:#000;
	height:50px;

	.navbar-inner {
		.border-radius(0);
		background:#000;
		border:0;
	}


	.nav-main > li a{
		padding:0 20px;
		padding-top:6px;
		border-bottom:4px solid #000;
		height:40px;
		font-size:15px;
		font-weight:bold;
		text-align:center;
		background:#000;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		-ms-transition: all .5s ease-in-out;
	}

	.nav-main > li a small{
		display:block;
		font-size:9px;
		color:#AAA;
		font-weight:normal;
		text-transform:uppercase;
	}

	.nav-main > li.active a, .nav-main > li:hover a{
		#gradient > .vertical(#846703, #B49916);
		border-color:#654E00;
		color:#FFF;

		small {
			color:#FFF;
		}
	}

	.brand {
		padding:0;
	}
	a {
		color:@golden;
	}
}

#footer {
	padding:20px;
	background:#232323;
	color:#EAB119;
	.box-shadow(inset -1px -1px 7px #000);

	a {
		display:inline;
		color:#EAB119;
		margin:0 10px;

		&:hover {
			background:none;
			color:#FFF;
		}
	}

	li {
		.inline-block();
	}

	li.first a{
		margin-left:0;
	}
}


#page {
	//background:#000;
}


.page-header {
    border-bottom: 1px solid #EEEEEE;
    margin: 20px 0 30px;
    padding-bottom: 9px;

	.highlight {
		color:@golden;
	}
}

.typo {
	background:none;
}


.hero-unit.typo{
	padding-bottom:0;
	h1 {
		font-size:50px;
	}
}




/*** WEB FONTS ***/
@font-face {
	font-family: 'PTSansRegular';
	src: url('fonts/PTS55F-webfont.eot');
	src: url('fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/PTS55F-webfont.woff') format('woff'), url('fonts/PTS55F-webfont.ttf') format('truetype'), url('fonts/PTS55F-webfont.svg#PTSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CamboRegular';
	src: url('fonts/Cambo-Regular-webfont.eot');
	src: url('fonts/Cambo-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Cambo-Regular-webfont.woff') format('woff'), url('fonts/Cambo-Regular-webfont.ttf') format('truetype'), url('fonts/Cambo-Regular-webfont.svg#CamboRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.prereg {
	background:#000;

	.form label{
		color:@golden;
	}

	#singletitle {
		padding:30px 0;
		border:0;
		text-align:center;
		
		h1 {
			color:#DDD;
			font-size:60px;
			font-family: "CamboRegular";
		}
	}
}
