/* Filterable myworks Stylesheet */
ul { list-style: none; }
.master-base{
	width:100% !important;
}

/* Custom Classes
------------------------------------------------------------ */
.group:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
* html .group { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */



.demo-top { margin-bottom: 0.35714em; padding-bottom: 0.5em; border-bottom: 3px solid #000; }
.credits { font-family: 'Quattrocento', serif; font-size: 1.28571em; line-height: 1.16667em; text-align: center; color: #444; margin-bottom: 2.66667em; }
.back-to-post { border-top: 1px solid #000; margin-bottom: 3em; }


/* Filter */
.filter{
}
.filter li { float: left;
font-size:20px;
color:#fff !important; }
.filter li:after { content: "/"; color:#999;  font-size:32px;}
.filter li:last-child:after { content: "";}
.filter a { padding: 0 10px; color: #fff; text-decoration: none;
font-family:"Ostrich_Sans_Regular"; font-size:32px; }
.filter a:hover, .current a { color: #00D3D3; }

/* myworks Items */
.myworks{
	margin:0px !important;
}
.myworks li, myworks li:hover { float: left;  margin:0px; box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.8); }
.myworks li:nth-child(4n) { margin-right: 0; }
.myworks a { display: block;  text-decoration: none;}
.myworks a:hover { display: block;  text-decoration: none;}
.myworks img { width: 280px; height: 280px; display: block;  border:none !important;}


.overlay-block{display:none; z-index:888; position: absolute; width: 280px; height: 280px; background:rgba(0,0,0,0.8) url(../images/zoom.png) no-repeat center center; text-align: center;}




/*Small Device Screen Optimization*/
@media only screen and (max-width: 767px) {
	
.myworks img { width: 185px; height: 185px; display: block; border:none !important;}
.myworks img:hover { width: 185px; height: 185px; display: block; border:none !important;}

.overlay-block{display:none; z-index:9999; position: absolute; width: 185px; height: 185px; background:rgba(0,0,0,0.8) url(../images/zoom.png) no-repeat center center; text-align: center;}

}